@import'../_templates';
@import'../_variables';
@import'../_mixes';

@media (min-width: 480px){
    main{
        .container{
            .choose{
                @include fontType('Roboto', 400, 16px, 130%, $colorLightBlack);
                max-width: 1200px;
                margin: 0 auto;
                &-text{
                    margin-bottom: 50px;
                    text-align: center;
                    h2{
                        font-size: 34px;
                        font-weight: 400;
                        margin-bottom: 10px;
                    }
                    span{
                        font-weight: 600;
                        color: $colorBlue;
                    }
                    p{
                        line-height: 140%;
                    }
                }
                &-blocks{
                    display: flex;
                    max-width: 1020px;
                    margin: 0 auto;
                    justify-content: space-between;
                    flex-wrap: wrap;
                    background: #A1C7D4;
                    border-radius: 12px;
                    padding: 20px 20px 5px 20px;
                }
                &-block{
                    max-width: 300px;
                    background: $colorWhite;
                    border-radius: 8px;
                    border: 2px solid $colorBlack;
                    padding: 20px;
                    margin-bottom: 20px;
                    &-title{
                        display: flex;
                        align-items: center;
                        margin-bottom: 15px;
                        &-number{
                            font-size: 40px;
                            line-height: 47px;
                            color: $colorBlue; 
                            margin-right: 7px;
                        }
                        &-text{
                            font-weight: 700;
                            font-size: 18px;
                            line-height: 21px;
                            color: $colorBlue;
                        }
                    }
                    &-text{
                        line-height: 19px;
                    }
                }
            }
        }
    }
}